body {
    font-family: "Arial";
    font-weight: 600;
    font-size: 0.9em;
    line-height: 1.3em;
}

h1 {
    font-size: 3.3em;
    line-height: 1.5em;
}

p {
    font-weight: 400;
}

span {
    font-size: 1.1em;
    padding-left: 1em;
    padding-right: 1em;
}

aside {
    padding: 0;
    margin: 0;
}

footer {
    font-size: 1em;
    margin-top: 100px;
    margin-bottom: 50px;
}

.container-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: right;
    gap: 3%;
    margin-top: 1.3em;
    margin-right: 3em;
    font-size: 1.5em;
}

.container-resume {
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 25em 5em;
    padding-top: 8em;
    align-items: center;
}

.item-resume-h1 {
    align-self: start;
    padding-top: 0.5em;
}

.item-resume-photo {
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

.item-resume-a {
    font-size: 1.2em;
    font-family: Arial;
    font-weight: 600;
    color: white;
    background-color: red;
    border-radius: 2px;
    width: 180px;
    text-align: center;
    padding: 9px;
    margin-top: 50px;
}

.container-lenta {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 0px;
    margin-top: 5em;
    margin-right: 0%;
    background-color: rgb(235, 255, 255);
}

.item-lenta-title {
    align-self: center;
    font-size: 1.3em;
}

.item-lenta-all {
    align-self: center;
    font-size: 1em;
    color: rgb(1, 150, 255);
}

.container-posts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 2%;
    padding-bottom: 2.5em;
    margin-top: 0;
    margin-right: 0;
    background-color: rgb(235, 255, 255);
}

.item-posts-block {
    padding: 4%;
    width: 40%;
    border-radius: 3px;
    background-color: white;
}

.item-posts-p {
    font-size: 2em;
    font-weight: 600;
    line-height: 1em;
}

.item-posts-span {
    padding-left: 0;
}

.container-works {
    display: flex;
    flex-flow: column wrap;
    justify-content: left;
}

.item-works-title {
    font-size: 1.8em;
    font-weight: 600;
}

.item-works-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: start;
    align-items: center;
    gap: 3%;
    border-bottom: 1px solid rgb(217, 217, 217);
    padding-bottom: 20px;
    padding-top: 20px;
}

.item-works-container-img {
    width: 300px;
    height: 200px;
    border-radius: 5px;
}

.item-works-container-p {
    font-size: 1.3em;
    color: rgb(124, 127, 148);
}

.item-works-container-span {
    color: white;
    font-size: 1em;
    font-weight: 600;
    border-radius: 1em;
    background-color: rgb(28, 18, 84);
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin-right: 20px;
}

.container-footer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.item-footer-container-method {
    display: flex;
    flex-flow: row nowrap;
    gap: 35%;
    justify-content: center;
}

.item-footer-container-image {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}

.block__padding {
    padding-left: 15%;
    padding-right: 15%;
}